<div class="blog-item-block">
    <div class="blog-image-box">
        <a href="{{ article.url }}">
            <img
                srcset="
                {%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                {{ article.image.src | image_url }} {{ article.image.src.width }}w
                "
                src="{{ article.image.src | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ article.image.src.alt | escape }}"
                class="motion-reduce"
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
            >
        </a>
    </div>
    <div class="blog-content-box">
        <p class="article-date text-left">{{ article.published_at | date: "%b %d, %Y" }}</p>
        <h3 class="article-title"><a href="{{ article.url }}" class="link-url dark-text-white">{{ article.title }}</a></h3>
        <a href="{{ article.url }}" class="read-more link d-flex align-items-center item-gap">
            Read More
            <span class="button-wrapper">
                {{- 'right-long-arrow.svg' | inline_asset_content -}}
            </span>
        </a>
    </div>
</div>